$color-button: #2e2f30;
$color-button-text: #f5f5f7;
$color-keyboard: #959595;
$color-textarea: #2e2f3095;
$color-hover: #ffffff;
$color-active: #b64949e5;
$color-background: #222222;
$primary-text-color: #f03226;

$font: "Roboto", "Arial", sans-serif;
$font-size-button: 16px;
$font-size-header: 24px;
