.footer {
  background-color: $color-background;

  &__content {
    font-family: $font;
    font-size: $font-size-button;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: $color-button-text;
  }
}
