.textarea {
  width: 680px;
  height: 200px;
  padding: 10px;
  font-family: $font;
  font-size: $font-size-button;
  font-weight: 500;
  letter-spacing: 1px;
  color: $color-button-text;
  background-color: $color-textarea;
  border: 2px solid $color-button;
  resize: vertical;

  &:focus {
    color: $color-button;
    background-color: $color-keyboard;
  }
}
